/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-05-2019, 2:58:01
    Author     : the_e
*/

body{
    background: #222;
    font-family: monospace;
}
.title{
    color: white;
        text-align: center;
}
.contenedor-galeria{
    display: felx;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%px;
    margin: auto;
}
.galeria__img{
    width : 300px;
    height: 200px;
    margin-bottom: 30px;
    object-fit: cover;
    filter: brightness(70%);
    cursor:pointer;
    animation: escalar 1.5s infinite alternate;
}
@keyframes escalar{
    to{
        transform: scale(1);
    }
    from{
        transfrom: scale(1.05);
    }
}
.galeria__img:hover{
    filter: brightness(100%);
}
